/* Mike Jenkins */
/* Project name */

/* Reset rule */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define CSS variables */
:root {
  --font-size: 18px;
  --gap: 10px;

  --aquamarine: rgb(127, 255, 212);
  --white: #fff;

}





